.container1{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 36px;
  
}
@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.btn-back{
  margin-left: 40px;
  margin-top: 10px;
}


.teste3{ 
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ea1d22, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ea1d22, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width:400px;
  margin: 0 auto;

}

.card-image-list{
  display: flex;
  flex-direction: columns;
  max-width:400px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: none;

 
}
@media (max-width: 800px) {
  .card-image-list {
    display: flex;
    flex-direction: columns;
    max-width:200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 32px;
    border: none;
  
  }
}

@media (max-width: 500px) {
  .card-image-list {
    display: flex;
    flex-direction: columns;
    max-width:300px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 32px;
    border: none;
  
  
  }
}

.card-body{
  width: 100%;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ea1d22, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ea1d22, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



