.container-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-top: 5px;
    
}
@media (max-width: 800px) {
    .container-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .container-grid {
      grid-template-columns: 1fr;
    }
  }

.logo svg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
  width:100px;
  height:100px
}

.catalogo{
    display: block;
    align-items: center;
    text-align: center;
}

.article-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 12px;
    -webkit-box-shadow: 8px 6px 4px rgba(255, 255, 255, 0.137);
		-moz-box-shadow:    8px 6px 4px rgba(255, 255, 255, 0.151);
		box-shadow:         8px 6px 4px rgba(255, 255, 255, 0.144);
}

.article-title{
    color:rgb(255, 255, 255);
    font-weight: bold;
    align-items: center;
    justify-content: center;

   &:hover{
     color:#ea1d22;
   }
}

.btn-groupe{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  
  
}

.btn {
  display: inline-block;
  font-size: 12px;


  padding: 12px 32px;
  border-radius: 3px;

  transform: skew(-10deg);

  text-transform: uppercase;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);

  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;

    width: 30%;
    height: 70%;
    opacity: 0;

    border-radius: 3px;

    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
  }



  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    right: -2px;

    width: 30%;
    height: 70%;
    opacity: 0;
    transition: 0.7s ease;

    border-radius: 3px;

    border-bottom: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
  }

  &:hover {
    transform: skew(-10deg) scale(1.05);
    transition: 0.7s ease;
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 1;
    }
  }
}