*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/typography';
@import 'sass/spacing';

body {
    width: 100%;
    height: 100vh;
  
    background: #000;
    overflow-x: hidden;
    
  
  }

  a {
    text-decoration: none;
    color: $white-light;
  }
 

@import 'sass/layout';
@import 'sass/navbar';
@import 'sass/home';
@import 'sass/hero';