* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.color-blue {
  color: #2DC7ED;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 300;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 36px;
  font-weight: 300;
}

h4 {
  font-size: 24px;
  font-weight: 300;
}

h5 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4DDCFF;
  font-weight: 300;
}

h6 {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #6D6E70;
}

body {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #FAFCFC;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 24px;
}

a {
  text-decoration: none;
  color: #EDEFF0;
}

hr {
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 24px;
}

.input-search {
  height: 40px;
  min-width: 300px;
  background-color: #15171A;
  border: 0;
  border-radius: 4px;
  color: #FAFCFC;
  padding: 8px;
}

input[type="search"] {
  background: transparent;
  border: 1px red solid;
  color: #EDEFF0;
}

input[type="search"]::before {
  background: transparent;
  border: 1px red solid;
  color: #EDEFF0;
}

input[type="search"]::-webkit-search-cancel-button {
  outline: none;
}

.navbar {
  background: #f11a20;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 5px;
}

@media (max-width: 800px) {
  .container-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .container-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.logo svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
  width: 100px;
  height: 100px;
}

.catalogo {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.article-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 12px;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.article-title {
  color: white;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-title:hover {
  color: #ea1d22;
}

.btn-groupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn {
  display: inline-block;
  font-size: 12px;
  padding: 12px 32px;
  border-radius: 3px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  text-transform: uppercase;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  position: relative;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 30%;
  height: 70%;
  opacity: 0;
  border-radius: 3px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 30%;
  height: 70%;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  border-radius: 3px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

.btn:hover {
  -webkit-transform: skew(-10deg) scale(1.05);
          transform: skew(-10deg) scale(1.05);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.btn:hover::after {
  opacity: 1;
}

.btn:hover::before {
  opacity: 1;
}

.container1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 36px;
}

@media (max-width: 800px) {
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.btn-back {
  margin-left: 40px;
  margin-top: 10px;
}

.card-image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columns;
          flex-direction: columns;
  max-width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border: none;
}

@media (max-width: 800px) {
  .card-image-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: columns;
            flex-direction: columns;
    max-width: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    margin-top: 32px;
    border: none;
  }
}

@media (max-width: 500px) {
  .card-image-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: columns;
            flex-direction: columns;
    max-width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    margin-top: 32px;
    border: none;
  }
}

.card-body {
  width: 100%;
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#ea1d22), to(#000000));
  background: linear-gradient(to top, #ea1d22, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*# sourceMappingURL=style.css.map */